p {
    font-family: cursive;
    font-size: 25px;
}
.pg {
    top: 65%;
    left: 76%;
    position: absolute
}

.RG {
    top: 80%;
    left: 55%;
    position: absolute
}

.No {
    top: 80%;
    left: 45%;
    position: absolute
}


.NP {
    top: 80%;
    left: 35%;
    position: absolute
}

.CME {
    top: 80%;
    left: 25%;
    position: absolute
}

.FG {
    top: 80%;
    left: 15%;
    position: absolute
}

.DB {
    top: 80%;
    left: 5%;
    position: absolute
}

.SH {
    top: 60%;
    left: 65%;
    position: absolute
}


.SL {
    top: 60%;
    left: 55%;
    position: absolute
}

.SW {
    top: 60%;
    left: 45%;
    position: absolute
}

.BD {
    top: 60%;
    left: 35%;
    position: absolute
}

.PSH {
    top: 60%;
    left: 25%;
    position: absolute
}


.LW {
    top: 60%;
    left: 15%;
    position: absolute
}

.Smile {
    top: 48%;
    left: 52%;
    position: absolute
}

.image1 {

    margin-left: 1000px;
    margin-top: -5px;

}


.JJDCB {
    top: 60%;
    left: 5%;
    position: absolute
}

.JJDC {
    top: 45%;
    left: 20%;
    position: absolute
}

.JJW {
    top: 5%;
    left: 20%;
    font-size: 40px;
    position: absolute
}

.JJWoption {
    top: 30%;
    font-size: 23px;
    position: absolute
}

.JopaJackApps {
    top: 43%;
    left: 79%;
    position: absolute
}

.discord {
    top: 55%;
    left: 93%;
    position: absolute;
}

.boosty {
    top: 55%;
    left: 87%;
    position: absolute;
}

.youtube {
    top: 55%;
    left: 80%;
    position: absolute;
}
